h1{
    background-color: black;
   font-style: bold;
     color: cornsilk;
}
header{
    color: darkred;
    background-color: tomato;
    font-size: 20px;
}
nav{
    color: sienna;
    background-color: cornflowerblue;
    width: 1350px;
    height:50px ;
}
section{
    width:500px;
    height:390px;
    position: absolute;
    top:350px;
    background-color: plum;
    border:5px dotted white;
    text-align: center;
    color: tomato;
    font-size: 24px;
    font-style: italic;
}
aside{
    width:500px;
    height: 920px;
    position: absolute ;
    top:350px;
    right:0px;
    background-color:plum ;
    border:5px dotted white;
    text-align: center;
    font-size: 24px;
    font-style: italic;
    color: salmon;
}